<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || hasError) { %><%= product.title %><% } %>">
            </div>
           
            <div class="form-control">
                <label for="image">Image</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image" >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<% if (editing || hasError) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            
        	<div class="form-control">
				<label for="type">Type :
				</label>
				<select 
					class="<%= validationErrors.find(e => e.param === 'type') ? 'invalid' : '' %>"
					type="text"
					name="type"
					id="type"
					value="<% if (editing || hasError) { %><%= product.type %><% } %>">
						<option>Vente</option>
						<option>Location</option>
            	</select>
            </div>

			<div class="form-control">
				<label for="publishingStatus">Publishing Status :</label>
				<select 
					class="<%= validationErrors.find(e => e.param === 'publishingStatus') ? 'invalid' : '' %>"
					type="text"
					name="publishingStatus"
					id="publishingStatus"
					value="<% if (editing || hasError) { %><%= product.publishingStatus %><% } %>">
						<option>publiée</option>
						<option>non publiée</option>
				</select>
            </div>

			<div class="form-control">
				<label for="goodsStatus">Goods Status :</label>
				<select 
					class="<%= validationErrors.find(e => e.param === 'goodsStatus') ? 'invalid' : '' %>"
					type="text"
					name="goodsStatus"
					id="goodsStatus"
					value="<% if (editing || hasError) { %><%= product.goodsStatus %><% } %>">
						<option>Disponible</option>
						<option>Loué</option>
						<option>Vendu</option>
				</select>
            </div>
            
            <div class="form-control">
				<label for="date">Date :</label>
				<input 
					class="<%= validationErrors.find(e => e.param === 'date') ? 'invalid' : '' %>"
					type="date"
					name="date"
					id="date"
					value="<% if (editing || hasError) { %><%= product.date %><% } %>">
            </div>
				
				
				
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
