<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
            
            	<form action="/comment/<%=product._id %>" class="row g-3" method="POST">
            	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				  <h4>Commenntaire</h4>
				  <div class="col-8">
					<input class="form-control" type="text" id="commenterPseudo" name="commenterPseudo" hidden="false"  value="<%= user.email%>" required>
				  </div>
					<div class="col-8">
				<textarea name="text"
				   rows="5" cols="50">Vous pouvez écrire votre commentaire ici.</textarea>  </div>
				  <div class="col-8">
					<button type="submit" class="btn btn-dark float-end">Envoyer</button>
				  </div>
				</form>
            </main>
<%- include('../includes/end.ejs') %>
