<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= product.price %> €</h2>
                            <p class="product__description"><%= product.description %></p>
                            <hr>
                                    <label><b>Type</b></label>
                                    <p class="product__type">
                                        <%= product.type %>
                                    </p>
                                    <p>
                                    <label><b>Publishing Status</b></label>
                                    <p class="product__publishingStatus">
                                        <%= product.publishingStatus %>
                                    </p>
                                    <p>
                                    <label><b>goods Status</b></label>
                                    <p class="product__goodsStatus">
                                        <%= product.goodsStatus %>
                                    </p>
                                    <p>
                                    <label><b>Date</b></label>
                                    <p class="product__date">
                                        <%= product.date.toLocaleDateString("fr")  %>
                                    </p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product._id %>" class="btn">Details</a>
                            <% if (isAuthenticated) { %>
                                <a href="/comment-annonce/<%= product._id %>"><button type="button" class="btn">commente</button></a>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>
