<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %> €</h2>
            <p><%= product.description %></p>
            <hr>
            <label><b>Type</b></label>
            <p class="product__type">
                <%= product.type %>
            </p>
            <p>
            <label><b>Publishing Status</b></label>
            <p class="product__publishingStatus">
                <%= product.publishingStatus %>
            </p>
            <p>
            <label><b>goods Status</b></label>
            <p class="product__goodsStatus">
                <%= product.goodsStatus %>
            </p>
            <p>
            <label><b>Date</b></label>
            <p class="product__date">
                <%= product.date.toLocaleDateString("fr")  %>
            </p>
        </main>
        <%- include('../includes/end.ejs') %>
