<form action="/comment" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">comment 444</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>