<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/footer.css">
    </head>
   
    <div class="container-footer w-container">
      <div class="w-row">
        <div class="footer-column w-clearfix w-col w-col-4"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/596d33f36607b12cfdaf8ad2_LogoWhite.png" alt="" width="40" class="failory-logo-image">
          <a href="https://limbon.azurewebsites.net/#about" target="_blank"> 
              <h3 class="footer-failory-name">LIMBON TECHNOLOGIES</h3>
          </a>
        </div>
        <div class="footer-column w-col w-col-8">
          <div class="w-row">
            <div class="w-col w-col-8">
              <div class="w-row">
                <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
                  <h3 class="footer-titles">TECHNOLOGIES</h3>
                  <p class="footer-links">
                  	<span class="footer-link">Symfony
                  		<br>
              		</span>
          			<span class="footer-link">NodeJs
          				<br>
      				</span>
      				<span class="footer-link">.NET
          				<br>
      				</span>
  					</p>
                </div>
                <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
                  <h3 class="footer-titles">OTHERS</h3>
                  <p class="footer-links">
                  	<span class="footer-link">Java
                  		<br>
                  	</span>
                  	<span class="footer-link">Python3
                  		<br>
                  	</span>
                  	<span class="footer-link">
                  	</span>
                  	<span class="footer-link">C
                  		<br>
                  	</span>
              		</p>
                </div>
              </div>
            </div>
            <div class="column-center-mobile w-col w-col-4">
              <h3 class="footer-titles">FOLLOW US!</h3>
              
              <a href="https://twitter.com/Ibra_sow1" target="_blank" class="footer-social-network-icons w-inline-block">
              	<img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg" width="20" alt="Twitter icon">
              </a>
              
              <a href="https://www.instagram.com/?next=%2F&hl=fr" target="_blank" class="footer-social-network-icons w-inline-block">
              	<img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbfe70fcf5a0514c5b1da_Instagram%20Icon.svg" width="20" alt="Instagram icon">
              </a>
              
              <a href="https://www.facebook.com/people/Ibrahim-Sow/100070320772362/" target="_blank" class="footer-social-network-icons w-inline-block">
              	<img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg" width="20" alt="Facebook Icon">
              </a>
              
              <a href="https://www.linkedin.com/in/armand-guelina-0aa1a3193/" target="_blank" class="footer-social-network-icons w-inline-block">
              	<img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0002f2b676eb4ba0869_LinkedIn%20Icon.svg" width="20" alt="LinkedIn Icon">
              </a>
              
              <p class="footer-description">Email me at:
              <strong class="link-email-footer">isow6227@gmail.com</strong>
              <br></p>
            </div>
          </div>
        </div>
      </div>
    </div>