<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occurred or you are not an admin!</h1>
    <p>We're working on fixing this, sorry for the inconvenience very soon 2022!</p>

<%- include('includes/end.ejs') %>